/* ## Colors
### Primary
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)
## Gradients
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)
### Neutral
- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

- Font size (paragraphs): 18px
### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh
}

.card-display {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    flex-basis: 40vh;
    align-items: center;
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
}

.card-display > .title {
    color: hsl(0, 0%, 90%);
    font-size: 16px;
}

.card-display > .status {
    color: white;
}

.marks{
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.marks .mark{
    font-size: 2.5rem;
}

.marks .out-of{
    font-size: 12px;
    color: #888;
    font-weight: bold;
}

.card-display > .review {
    font-size: 12px;
    color: hsl(0, 0%, 70%);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}


.summary-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    flex: 1;
}

.summary-card > .title {
    font-size: 16px;
    color: hsl(224, 30%, 27%)
}

.summary-card .review-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.summary-card .review-items .review-item {
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 100%, 67%, 5%);
    padding: 5px;
    border-radius: 10px;
}

.review-item .score-card{
    color: hsl(224, 30%, 27%);
    font-weight: bold;
    font-size: 13px;
}

.review-item .score-card .out-of {
    color: #999
}

.review-item > div:first-child {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

button{
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
    border-radius: 30px 30px;
    padding: 1em 0;
}

.attribution.attr-desk {
    display: none;
}

/* responsive fix */

@media screen and (min-width: 756px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 1rem;
    }

    .main-card {
        flex-direction: row;
        gap: 1rem;
        height: 50vh;
        align-items: stretch;
    }

    .card-display {
        flex: 1;
        border-radius: 2rem;
    }

    .summary-card {
        flex: 1
    }

    .attribution.attr-mobile {
        display: none;
    }

    .attribution.attr-desk {
        display: block;
    }

}